<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div>{{errorMessage}}</div>
  <div class="table-responsive">
    <!-- <table class="table mb-0"
           *ngIf="products"> -->
    <table class="table mb-0"
           *ngIf="contacts$ | async as contacts">
      <thead>
        <tr>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Work</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody *ngFor="let contact of contacts">
        <tr>
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.work }}</td>
          <td>{{ contact.street}}</td>
          <td>{{ contact.city}}</td>
          <td>{{ contact.state}}</td>
          <td>{{ contact.zip}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
